<h1>Discounts</h1>

<% @merchant.discounts.each do |discount| %>
  <section id='discount-<%= discount.id %>'>
    <p>Item Threshold: <%= discount.item_threshold %></p>
    <p>Discount Value: <%= discount.value %></p>
    <%= link_to 'Update Discount', edit_discount_path(discount.id) %>
    <%= link_to 'Delete Discount', "/discounts/#{discount.id}", method: :delete %>
  </section>
<% end %>
